@import 'constants';

.container {
  margin: 0 auto 30px 0;
  padding: 30px 50px;

  .full_width {
    width:100%;
  }

  .box_width {
    max-width: $max-width;
  }

  .row {
    max-width: $max-width;
    margin: 50px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 675px) {
    .row {
      flex-direction: row;
    }
  }
}

.column_base {
  margin: 20px;
  padding: 30px;
}

.content {
  height: 100%;
}

.one_half {
  flex-basis: calc(100% / 2);
  @extend .column_base;
}
.one_third {
  flex-basis: calc(100% * (1/3));
  @extend .column_base;
}
.two_third {
  flex-basis: calc(100% * (2/3));
  @extend .column_base;
}
.one_fourth {
  flex-basis: calc(100% * (1/4));
  @extend .column_base;
}
.one_full {
  flex-basis: 100%;
  @extend .column_base;
}



