@import 'constants';

// general layout component
.container {
  margin: 0;
  padding: 30px 50px;

  .full_width {
    width:100%;
  }

  .box_width {
    max-width: $max-width;
  }

  .row {
    max-width: $max-width;
    margin: 50px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 675px) {
    .row {
      flex-direction: row;
    }
  }
}

.content_base {
  height: 100%;
}

.column_base {
  margin: 20px;
  padding: 30px;
}

.one_half, .one_third, .two_third, .one_fourth, .one_full {
  flex-basis: 100%;
  @extend .column_base
}

@media screen and (min-width: 675px) {
  .one_half {
    flex-basis: calc(100% / 2);
  }
  .one_third {
    flex-basis: calc(100% * (1/3));
  }
  .two_third {
    flex-basis: calc(100% * (2/3));
  }
  .one_fourth {
    flex-basis: calc(100% * (1/4));
  }
  .one_full {
    flex-basis: 100%;
  }
}





