@import 'colors';
@import 'constants';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.center {
  text-align: center;
}

.padding {
  padding: 10px;
}

.copyright {
  background-color: $darker-grey;
  color: $light-grey;
}

.copyright p {
  max-width: $max-width;
  margin: 15px auto;
  padding: 0 15px;
}

@media screen and (min-width: $max-width) {
  .copyright p {
    padding: 0;
  }
}

button {
    background: $light-grey;
    border: 0 !important;
    padding: 10px 30px;
    color: $white;
    border-radius: 0;
    outline: none;
    cursor: pointer;
}
.green button {
  background: $status_green;
}
.red button {
  background: $status_red;
}
.yellow button {
  background: $status_yellow;
}