@import 'colors';
@import 'constants';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.center {
  text-align: center;
}

.padding {
  padding: 10px;
}

.top_padding {
  padding-top: 200px;
}

.copyright {
  background-color: $darker-grey;
  color: $light-grey;
}

.copyright p {
  max-width: $max-width;
  margin: 15px auto;
  padding: 0 15px;
}

@media screen and (min-width: $max-width) {
  .copyright p {
    padding: 0;
  }
}

button {
    background: $light-grey;
    border: 0 !important;
    padding: 10px 30px;
    color: $white;
    border-radius: 0;
    outline: none;
    cursor: pointer;
}
.green button {
  background: $status_green;
}
.red button {
  background: $status_red;
}
.yellow button {
  background: $status_yellow;
}

.row {
  max-width: $max-width;
  margin: 50px auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 675px) {
  .row {
    flex-direction: row;
  }
}

.background_white {
  background: $white;
}

.box_shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.no_padding {
  padding: 0 !important;
}
