/* Insert site global styles here */
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

@import 'normalize.css';

main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    min-height: 1500px;
    padding-top: 150px;
    background: #CCCCCC;
}

.one_third {
  float: left;
  width: 33%;
}