.column_base {
  margin: 20px;
  padding: 30px;
}

.one_half {
  flex-basis: calc(100% / 2);
  @extend .column_base;

  
}
.one_third {
  flex-basis: calc(100% * (1/3));
  @extend .column_base;
}
.two_third {
  flex-basis: calc(100% * (2/3));
  @extend .column_base;
}
.one_fourth {
  flex-basis: calc(100% * (1/4));
  @extend .column_base;
}
.one_full {
  flex-basis: 100%;
  @extend .column_base;
}