@import '../../styles/colors.scss';
@import '../../styles/constants.scss';

footer {
  background: $dark-grey;
  color: $white;

  .row {
    max-width: $max-width;
    margin: 50px auto;
    overflow: hidden;
  }

  h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 28px;
    text-align:center;
  }

  p {
    font-family: 'Lato', sans-serif;
    text-align: center;
  }
}