@import '../../styles/colors.scss';
@import '../../styles/constants.scss';

footer {
  background: $dark-grey;
  color: $white;
  z-index: 900;

  .statusWidget {
    text-align: center;

    button {
      width: 100%;
      max-width: 250px;
      margin: 0 auto 10px auto;
      text-transform: uppercase;
      cursor: default;
    }
  }

  h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 28px;
    text-align:center;
  }

  p {
    font-family: 'Lato', sans-serif;
    text-align: center;
  }
}

