@import '../../../../styles/colors.scss';

.accordian_container {
  list-style-type: none;
  padding: 0;

  .accordian {
    margin-bottom: 40px;

    button {
      max-width: 100%;
      margin: 0;
      background: $status_green;
    }

    .panel {
      background: rgba(105, 100, 29, 0.5);
      transition: all 0.8s;
      max-height: 0;
      transform: rotateX(-90deg);
      transform-origin: top;
      overflow: hidden;

      p {
        margin: 20px;
        color: $grey-lighter;
      }
    }

    .panel.active {
      max-height: 100%;
      transform: rotateX(0deg);
    }
  }
}

