@import '../../styles/constants.scss';
@import '../../styles/colors.scss';

navigation {
    max-width: $max-width;
    width: 100%;
    max-height: 100px;
    height: 100%;
    position: fixed;
    top: 50px;
    background: $white;
    opacity: 0.8;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logoWrapper {
      .logo {
        max-width: 345px;
        padding: 15px;
        height: auto;
      }
    }
    
    .topLevel {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      flex-direction: row;

      li {
          margin: 0 15px;
          position: relative;

          &:hover {
            border-bottom: 2px solid $dark-grey;

            .subNavigation {
              display: block;
            }
          }

          a {
            text-decoration: none;
            color: $dark-grey;
          }

          .label {
            font-family: Lato, sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            line-height: 100px;
            transition: all 1s ease 0s;
          }

          .subNavigation {
              display: none;
              position: absolute;
              list-style-type: none;
              padding-left: 0;
              background: $white;
              width: 150px;
              margin-top: 20px;
              left: 50%;
              transform: translateX(-50%);

              &:before {
                content: '\A';
                position: absolute;
                top: -20px;
                width: 0;
                height: 0;
                left: 50%;
                transform: translateX(-50%);
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 20px solid white;
              }

              li {
                font-size: 18px;
                padding:10px;
                margin: 0 !important;
                text-align: center;
                position: relative;

                &:hover {
                  border-bottom: none !important;
                  left: 10px;
                  transition: left 1s ease 0s;
                }
              }
          }
      }
  }
}
